:root {
    --color-1: #000000;
    --color-2: #001F3F;
    --color-3: #3c8dbc;
    --color-4: #80b5d3;
    --color-5: #d2d6de;
    --color-6: #e2e4e9;
    --color-7: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-6);
    color: var(--color-1);
}

header {
    background-color: var(--color-2);
    color: var(--color-7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li:hover {
    background-color: var(--color-4);
}

header nav a {
    color: var(--color-7);
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: var(--color-2);
    font-weight: 550;
}

.logo img {
    max-width: 80px;
    height: auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: var(--color-2);
    text-align: center;
    margin-top: 50px;
}

main p {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: var(--color-2);
    text-align: center;
    margin-top: 20px;
}
